<html>
  <body>
    {% if name %}
      <h1>Hello {{ name }}</h1>
    {% else %}
      <h1>Hello world</h1>
    {% endif %}

    <p>Results: {{ results }}</p>

    <ul>
      {% for product in products %}
        <li>
          <h2>{{ product.title }}</h2>
          <p>Description: {{ product.description }}</p>
          <p>Category: {{ product.collection__title }}</p>
          <p>Category: {{ product.collection.title }}</p>
          
        </li>
      {% endfor %}
    </ul>
  </body>
</html>